button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button {border-radius: 12px;}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3 , 1fr);

}

.card img{
  display: block;
  max-width: 100%;

}
.header {
  overflow: hidden;
  background-color: #ccd9e2;
  padding: 20px 10px;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: auto;
  overflow: hidden;
  

}

.header-left{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


.card{
  text-align: center;
}

li a{
  display: block;
  text-align: right;
}

